
.App {
  text-align: center;
  align-items: center;
}

/* ----------------------Header------------------------------------------ */

#fakelogo{
  text-decoration: none;
  color:bisque
}
.app-name{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  color: bisque;
   font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: black;
  /* height: 80px; */
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

nav{
  display: flex;
	justify-content: space-evenly;
  text-decoration: none;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
  justify-content: space-evenly;
	align-items: center;
  color: white;
  text-decoration: none;
}

.main-nav li {
	padding: 0 20px;
  list-style-type:none;
}

/* -------------------------Login/Auth-form---------------------------------------- */

.auth-main{
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-form{
  background-color: black;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid bisque 5px;
  border-radius: 5px; 
}

.auth-input{
  color: black;
  width: fit-content;
  display: flex;
  align-items: center;
}

.auth-btn{
  width: fit-content;
  align-items: center;
}

/* ---------------------------Posts----------------------------------------------------- */

.posts-main{
  align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: black;
  color: white;
  width: 250px;
  height: 250px;
  padding: 20px;
  text-align: center;
  border: solid bisque 5px;
  border-radius: 5px;
  /* align-items: center; */
}


.post-input{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.post-textarea{
  display: flex;
  padding: 30px;
  margin: 10px;
  overflow-wrap:break-word;
}

.status-container{
  display: flex;
  justify-content:center;
  
}

.status-buttons{
  padding: 5px;
  margin: 5px;
}

.post-button{
  text-align:center;
  align-items: center;
  margin: 10px;
}

/* ----------------------------Comments---------------------------------------------------- */

.comment-main{
  align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.comment-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: black;
  color: white;
  width: 250px;
  padding: 20px;
  text-align: center;
  border: solid bisque 1px;
  border-radius: 5px;
  /* align-items: center; */
}

.comment-input{
  text-align: center;
}










/* ----------------------------Profile---------------------------------------------------- */

.post-card-main{
  align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.card-for-post{
  background-color: black;
  width: 500px;
  height: fit-content;
  overflow-y: scroll;
  border: solid bisque 5px;
  border-radius: 5px;
  color: white;
  align-items:center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}


.no-posts-main{
  background-color: antiquewhite;
  border: solid black 2px;
  padding: 10px;
  margin: 50px;
  justify-content: center;
}

.edit-post-buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:5px;
  text-align: center;
  align-items: center;
}


.edit-post-button{
  display: flex;
  margin: 5px;
  text-align: center;
 justify-content: center;
  /* width: fit-content; */
  align-items: center;
}

