
.App {
  text-align: center;
  align-items: center;
}

/* body{
  /* background-color: white; */
  /* background: url(https://media.istockphoto.com/vectors/vector-soft-black-background-vector-id1090010178?k=20&m=1090010178&s=612x612&w=0&h=dR1clm2126pBjiHBbmyUmAN5Xm6ZmerFUmiIXu6yn-U=) no-repeat center center fixed;
 background-size: cover;
} */



/* ----------------------Header------------------------------------------ */

#fakelogo{
  text-decoration: none;
  color: white;
}
.app-name{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  color: bisque;
   font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: rgb(0, 0, 0);
  /* height: 80px; */
  padding: 0 10px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  border-bottom: solid white;
}

.applicationName{
  font-family: Copperplate;
}



nav{
  display: flex;
	justify-content: space-evenly;
  text-decoration: none;
  
}

.main-nav {
	display: flex;
	justify-content: flex-end;
  justify-content: space-evenly;
	align-items: center;
  color: white;
  text-decoration: none;
  text-align: center;
}

.main-nav li {
	padding: 0 20px;
  list-style-type:none;
  text-align: center;
  text-decoration: none;
  
}

/* -------------------------Login/Auth-form---------------------------------------- */

/* .auth-body{
  background-color: black;
} */

.auth-main{
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  color: white;
  /* background-color: black; */
  height: 100vh;


 /* background: url(https://media.istockphoto.com/vectors/vector-soft-black-background-vector-id1090010178?k=20&m=1090010178&s=612x612&w=0&h=dR1clm2126pBjiHBbmyUmAN5Xm6ZmerFUmiIXu6yn-U=) no-repeat center center fixed; */
 /* background-size: cover; */

 /* https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_51/1654072/best-egg-dishes-kb-main-201218.jpg */

 /* https://realfood.tesco.com/media/images/RFO-1400x919-English-breakfast-shakshuka-561dee9b-a2fc-4259-8ff3-426ce5f60235-0-1400x919.jpg */

/* background: url( https://img.freepik.com/premium-photo/assorted-food-dishes-vegetables-meat-fish-black-stone-background-top-view-free-space-your-text_187166-662.jpg?w=2000) no-repeat center center fixed;
background-size: cover; */

background: url(https://images.ctfassets.net/3s5io6mnxfqz/3pLESMFjNopcam5J5qGcoT/0427544b060a8fd29e3c0b68281d56cf/AdobeStock_191057762.jpeg) no-repeat center center fixed;
background-size: cover;


}

.welcome{
  font-family: Copperplate;
  color: black;
  background-color: white;
  padding: 15px;
}

.auth-form{
  background-color:rgb(4, 4, 4);
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid rgba(255, 255, 255, 0.746) 3px;
  box-shadow: white 15px;
  border-radius: 8px; 
  margin-top: 20px;
  
}

.auth-input{
  color: black;
  border: solid rgba(0, 0, 0, 0.846) 1px;
  border-radius: 3px;
  padding: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  border: solid white 3px ;
  width: 300px;
}

.auth-btn{
  width: fit-content;
  align-items: center;
 
}

.auth-btn1{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid #e4d4a7;
    color: #e4d4a7;
}



/* ---------------------------Posts----------------------------------------------------- */

.posts-main{
  align-items: center;
  /* padding: 30px; */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
  /* background: url(https://media.istockphoto.com/vectors/vector-soft-black-background-vector-id1090010178?k=20&m=1090010178&s=612x612&w=0&h=dR1clm2126pBjiHBbmyUmAN5Xm6ZmerFUmiIXu6yn-U=) no-repeat center center fixed;
 background-size: cover; */
  background: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_51/1654072/best-egg-dishes-kb-main-201218.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.post-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: black;
  color: white;
  width: 450px;
  height: 350px;
  padding: 20px;
  text-align: center;
  border: solid rgba(255, 255, 255, 0.854) 3px;
  box-shadow: white 15px;
  border-radius: 8px; 
  
}

#welcome-post{
  margin-top: -250px;
  padding: 15px;
  color: black;
  background-color: white;
  font-family: Copperplate;
  margin-bottom: 30px;
 
}

.post-input{
  display: flex;
  padding: 10px;
  margin: 10px;
  border: solid white 3px;
  border-radius: 2px;
}

/* .image-input{
  display: flex;
  padding: 10px;
  margin: 10px;
  border: solid white 3px;
  border-radius: 2px;
} */

.post-textarea{
  display: flex;
  padding: 50px;
  margin: 10px;
  overflow-wrap:break-word;
  border-radius: 2px;
}

.status-container{
  display: flex;
  justify-content:center;
}

.status-buttons{
  padding: 5px;
  margin: 5px;
}

.post-button{
  text-align:center;
  align-items: center;
  margin: 10px;
}

/* ----------------------------Comments---------------------------------------------------- */

.comment-main{
  align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.comment-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: white;
  color: white;
  width: 550px;
  height: 60px;
  padding: 20px;
  text-align: center;
  border-top: solid white;
  /* border-bottom: solid black; */
  border-radius: 5px;
  /* align-items: center; */
}

.comment-input{
  text-align: center;
  padding: 25px;
  margin-bottom: 10px;
  align-items: center;
}


.comment-card{
  background-color: white;
  /* background-color: rgb(255, 253, 244); */
  color: black;
  /* border-radius: 10px; */
  align-items: center;
  text-align: center;
  padding: 8px;
  border: solid black;
  /* margin-bottom: 10px; */
  
}

.username{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.comment-p{
  background-color: rgb(255, 234, 208) 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  
}

/* .delete-comment{
  position: relative;
} */



/* ----------------------------Profile---------------------------------------------------- */

.post-card-main-profile{
  /* align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 
  background-color: black;
  /* width: 500px;
  height: 500px;  */
  /* height: 100vh; */
  /* background: url(https://media.istockphoto.com/vectors/vector-soft-black-background-vector-id1090010178?k=20&m=1090010178&s=612x612&w=0&h=dR1clm2126pBjiHBbmyUmAN5Xm6ZmerFUmiIXu6yn-U=) no-repeat center center fixed;
 background-size: cover; */




 align-items: center;
  /* padding: 30px; */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
  background: url(https://img.delicious.com.au/dZKUbMXr/del/2022/02/del_korean-lava-wraps-163171-1.jpg) no-repeat center center fixed;
 background-size: cover;
 
  /* background: url(https://www.tastingtable.com/img/gallery/20-delicious-indian-dishes-you-have-to-try-at-least-once/l-intro-1645057933.jpg) no-repeat center center fixed;
  background-size: cover; */
  color: white;



}

.post-card-main-home{
  /* align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 
  background-color: black;
  /* width: 500px;
  height: 500px;  */
  /* height: 100vh; */
  /* background: url(https://media.istockphoto.com/vectors/vector-soft-black-background-vector-id1090010178?k=20&m=1090010178&s=612x612&w=0&h=dR1clm2126pBjiHBbmyUmAN5Xm6ZmerFUmiIXu6yn-U=) no-repeat center center fixed;
 background-size: cover; */




 align-items: center;
  /* padding: 30px; */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
  /* background: url(https://jyfmuseums.org/wp-content/uploads/2021/10/Historical-Foodways-top.jpg) no-repeat center center fixed;
 background-size: cover; */
 
  /* background: url(https://www.tastingtable.com/img/gallery/20-delicious-indian-dishes-you-have-to-try-at-least-once/l-intro-1645057933.jpg) no-repeat center center fixed;
  background-size: cover; */

  color: white;

  background: url(https://img.apmcdn.org/c31f05e5f61879952c271353e732e4166302b855/uncropped/c8108e-splendid-table-rice-varieties-c-kuvona-istock-gettyimages-1040506198-lede.jpg) no-repeat center center fixed;
background-size: cover;



}








.card-for-post{
  background-color: black;
  width: 600px;
  height:fit-content;
  overflow-y: scroll;
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  align-items:center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.post-section{
  background-color: white;
}

.post-content{
  background-color: white;
  /* background-color: rgb(255, 253, 244); */
  color: black;
  height: fit-content;
  padding: 5px;
  margin: 3px;
  border: solid white;
  border-bottom: solid black 3px; 

  /* font-family: Roboto,Helvetica,sans-serif;
    font-size: 1.125rem;
    line-height: 1.56;
    letter-spacing: .2px;
    color: #222; */
}

.post-p{
  padding: 5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  word-wrap: break-word;

  /* display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: start;
  align-items: flex-start; */
}


.no-posts-main{
  /* background-color: antiquewhite; */
  border: solid black 2px;
  padding: 10px;
  margin: 50px;
  justify-content: center;
  color: white;
}

.edit-post-buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:5px;
  text-align: center;
  align-items: center;
  
}


.edit-post-button{
  display: flex;
  margin: 5px;
  text-align: center;
 justify-content: center;
  /* width: fit-content; */
  align-items: center;
 
}
