
.App {
  text-align: center;
  align-items: center;
}

/* ----------------------Header------------------------------------------ */

.app-name{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  color: bisque;
   font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: black;
  /* height: 80px; */
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

nav{
  display: flex;
	justify-content: space-evenly;
  text-decoration: none;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
  justify-content: space-evenly;
	align-items: center;
  color: white;
  text-decoration: none;
}

.main-nav li {
	padding: 0 20px;
  text-decoration: none;
}

/* -------------------------Login/Auth-form---------------------------------------- */

.auth-main{
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-form{
  background-color: black;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid bisque 5px;
  border-radius: 5px; 
}

.auth-input{
  color: black;
  width: fit-content;
  display: flex;
  align-items: center;
}

.auth-btn{
  width: fit-content;
  align-items: center;
}

/* ---------------------------Posts----------------------------------------------------- */

.posts-main{
  align-items: center;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: black;
  color: white;
  width: 300px;
  height: 250px;
  padding: 20px;
  text-align: center;
  border: solid bisque 5px;
  border-radius: 5px;
  /* align-items: center; */
}


.post-input{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.post-textarea{
  display: flex;
  padding: 30px;
  margin: 10px;
}

.status-container{
  display: flex;
  justify-content:center;
  
}

.status-buttons{
  padding: 5px;
  margin: 5px;
}

.post-button{
  text-align:center;
  align-items: center;
  margin: 10px;
}



